# A slightly stricter version of the LLVM style, but with BinPackArguments and similar removed
# Created for Clang 15.0.0 (https://releases.llvm.org/15.0.0/tools/clang/docs/ClangFormatStyleOptions.html)
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

BinPackArguments: false
BinPackParameters: false
DeriveLineEnding: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^".*\.hpp"$'
    Priority:        1
  - Regex:           '^<(CLI|ftxui|lefticus/tools|catch2|spdlog|fmt)/.*>$'
    Priority:        2
  - Regex:           '^<[[:lower:]_]*>$'
    Priority:        3
  - Regex:           '^<.*\.h>$'
    Priority:        4
IncludeIsMainRegex: '(_test)?$'
InsertBraces: true  # Already required by clang-tidy
InsertTrailingCommas: Wrapped
PackConstructorInitializers: NextLine
QualifierAlignment: Left
