# Created for Clang 15.0.0 (https://releases.llvm.org/15.0.0/tools/clang/tools/extra/docs/clang-tidy/checks/list.html)
---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        fuchsia-header-anon-namespaces,
        fuchsia-multiple-inheritance,
        fuchsia-virtual-inheritance,
        -google-readability-todo,
        -llvmlibc-*,
        -llvm-header-guard,
        -modernize-use-trailing-return-type,
"
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(include|src)/(Selsiro_)?emulator/.*'
FormatStyle:     file
CheckOptions:
  - key:    bugprone-argument-comment.StrictMode
    value:  'true'
  - key:    bugprone-argument-comment.CommentBoolLiterals
    value:  'true'
  - key:    bugprone-argument-comment.CommentIntegerLiterals
    value:  'true'
  - key:    bugprone-argument-comment.CommentFloatLiterals
    value:  'true'
  - key:    bugprone-argument-comment.CommentNullPtrs
    value:  'true'
  - key:    bugprone-misplaced-widening-cast.CheckImplicitCasts
    value:  'true'
  - key:    modernize-deprecated-headers.CheckHeaderFile
    value:  'true'
  - key:    modernize-use-auto.MinTypeNameLength
    value:  '0'
  - key:    readability-inconsistent-declaration-parameter-name.Strict
    value:  'true'
  - key:    google-runtime-int.TypeSuffix
    value:  '_t'
